<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title}">Mordor</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <h1 th:text="'Review of session #' + ${sessionId}"></h1>
        <div class="row">
            <form class="d-inline-flex p-2" method="POST" th:action="@{'/review/reject/' + ${userId} + '/' + ${sessionId} + '/'}">
                <button type="submit" name="submit" value="value" class="btn btn-danger">Reject</button>
            </form>
            <form class="d-inline-flex p-2" method="POST" th:action="@{'/review/approve/' + ${userId} + '/' + ${sessionId} + '/'}">
                <button type="submit" name="submit" value="value" class="btn btn-success">Approve</button>
            </form>
        </div>
    </div>

    <div th:replace="components/breadcrumb :: breadcrumb (path=${path}, dir=${dir})"/>

    <th:block th:switch="${type}">
        <div th:case="'IMAGE'">
            <div th:replace="preview/image :: preview-image (download=${download})"/>
        </div>
        <div th:case="'CODE'">
            <div th:replace="preview/code :: preview-code (download=${download}, text=${text})"/>
        </div>
        <div th:case="'PAGE'">
            <div th:replace="preview/page :: preview-page (download=${download}, raw=${raw})"/>
        </div>
        <div th:case="'TOO_LARGE'">
            <div th:replace="preview/too_large :: preview-too-large (download=${download}"/>
        </div>
    </th:block>
</div>
</body>
</html>
