<div th:fragment="session-bar (userId, sessionId)" th:remove="tag">
    <div class="container-fluid">
        <h1 th:text="'Review of session #' + ${sessionId}"></h1>
        <div class="row">
            <form class="d-inline-flex p-2" method="POST" th:action="@{'/review/reject/' + ${userId} + '/' + ${sessionId} + '/'}">
                <button type="submit" name="submit" value="value" class="btn btn-danger">Reject</button>
            </form>
            <form class="d-inline-flex p-2" method="POST" th:action="@{'/review/approve/' + ${userId} + '/' + ${sessionId} + '/'}">
                <button type="submit" name="submit" value="value" class="btn btn-success">Approve</button>
            </form>
        </div>
    </div>
</div>