body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

/* for block of numbers */
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 0.2em !important;
    padding-left: 0.2em !important;
}

/* for block of code */
td.hljs-ln-code {
    padding-left: 0.2em !important;
}

/* code view */
code.hljs {
    padding: 0 !important;
}

.img-preview-wrapper {
    background-color: #ddd;
    padding: 2em;
}

.img-preview {
    border: 1px solid #6a737d;
    padding: 1px;
    background-color: #fff;
}

.page-frame {
    display: block;
    width: 100%;
    border: none;
    outline: none;
}
