.list-group-collapse {
    overflow: hidden;
}

.rootgroup {
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius: 2px;
}

.list-group-collapse > li ul {
    border-radius: 0px !important;
    margin-right: -20px;
    margin-bottom: -13px;
    border-radius: 0px;
    border-bottom: none;
}

.list-group-collapse > li {
    border-radius: 0px !important;
    border-left: none;
    border-right: none;
}

.list-group-collapse > .subgroup {
    border-radius: 0px !important;
    border-left: none;
    border-right: none;
    padding-left: 2px;
    border-bottom: none;
}

.subgroup {
    display: none;
}

#mount-path-input {
    background-color: white;
}