<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register account</title>
</head>
<body>
<h1>Create a new account</h1>
<form th:action="@{/register/}" th:object="${user}" method="post">
    <p><label th:for="userName">Username: </label> <input type="text" th:field="*{userName}"/></p>
    <p><label th:for="firstName">First Name: </label> <input type="text" th:field="*{firstName}"/></p>
    <p><label th:for="lastName">Last Name: </label> <input type="text" th:field="*{lastName}"/></p>
    <p><label th:for="email">Email: </label> <input type="text" th:field="*{email}"/></p>
    <p><input type="submit" value="Submit">
</form>
</body>
</html>
