<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request new token</title>
</head>
<body>
<h1>Invalid token</h1>
<p>The verification token you provided is either expired or invalid. You can request a new one using this form:</p>
<form th:action="@{/register/reset/}" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>
