<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Set password</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Set your password</h1>
    <form th:action="@{/register/activate/}" method="post">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"/>
        </div>
        <input type="hidden" name="token" th:value="${token}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</form>
</body>
</html>
