<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Set password</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Set your password</h1>
        <form th:action="@{/register/activate/}" method="post" class=nice-form>
            <p><label for="password">Password: </label> <input type="password" name="password" id="password"/></p>
            <input type="hidden" name="token" th:value="${token}"/>
            <p><input type="submit" value="Submit">
        </form>
    </div>
</form>
</body>
</html>
