<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Set password</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Set your password</h1>
    <form th:action="@{/register/activate/}" th:object="${form}" method="post">
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" th:field="*{password}" id="password"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
        </div>
        <div class="form-group">
            <label for="password2">Repeat password:</label>
            <input type="password" class="form-control" th:field="*{password2}" id="password2"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">error</div>
        </div>
        <input type="hidden" name="token" th:field="*{token}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
