<div th:fragment="tree (directories)" th:remove="tag" th:with="depth=${depth} ?: 0">
    <ul th:classappend="(${not #lists.isEmpty(directories)} ? 'list-group-collapse' : '') + (${depth != 0} ? ' subgroup' : '')"
        th:unless="${directories.empty}" class="list-group">
        <th:block th:each="entry : ${directories}">
            <li class="list-group-item">
                <a href="#" th:style="'margin-left: ' + ${15*depth} + 'px;'" th:attr="data-path=${entry.relativePath}" class="directory-link" th:text="${entry.name} + '; ' + ${depth}"></a>
                <a th:if="${not #lists.isEmpty(entry.children)}" class="btn float-right list-down-button"><i class="fas fa-chevron-down"></i></a>

                <div th:replace="directories_tree :: tree (directories=${entry.children}, depth=${depth+1})"></div>
            </li>
        </th:block>
    </ul>
</div>
