<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Mordor</title>
    <link href="/static/style.css" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha256-ov7Y+aBrHabDL86mFdmkWpURhe9jlNFi5LQraxNmO6w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

</head>
<body>
  <header>
    <a href="/" class=logo>MORDOR</a>

    <a href="#">
      Upload file
    </a>

    <div class=spacer></div>

    <a sec:authorize="!isAuthenticated()" th:href="@{/login/}">Login</a>
    <form sec:authorize="isAuthenticated()" name="logoutForm" th:action="@{/logout/}" method="post">
      <input type="submit" value="Logout" class="logout"/>
    </form>
  </header>
  <div layout:fragment="content" id=content>

  </div>
  <script src="/static/script.js"></script>
</body>
