<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${param.error}">
        <p class="alert alert-danger" role="alert">Invalid username or password.</p>
    </div>
    <div th:if="${param.logout}">
        <p class="alert alert-warning" role="alert">You have been logged out.</p>
    </div>
    <h1>Login</h1>
    <form th:action="@{/login/}" method="post">
        <div class="form-group">
            <label th:for="username">Username</label>
            <input type="text" class="form-control" th:name="username"/>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input type="password" class="form-control" th:name="password"/>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" th:name="remember-me"/>
            <label th:for="remember-me" class="form-check-label">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
