<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}">Mordor</title>
</head>
<body>
<div layout:fragment="content">
    <ol class="breadcrumb">
        <li th:each="dir, itrStat : ${path}" th:class="${itrStat.last}? 'breadcrumb-item active' : 'breadcrumb-item'">
            <a th:unless="${itrStat.last}" th:href="${dir.path}" th:text="${dir.name}">directory</a>
            <span th:if="${itrStat.last}" th:text="${dir.name}">current directory</span>
        </li>
    </ol>

    <script>
        window.onload = function () {
            let iframe = document.getElementById('page-frame');
            document.getElementById('spinner').style.display = 'none';
            iframe.classList.remove('d-none');
            let iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        };
    </script>
    <noscript>
        <style>
            #spinner {
                display: none !important;
            }

            #page-frame {
                display: block !important;
            }
        </style>
    </noscript>

    <div class="card mt-2">
        <div class="card-header">
            <a href="#" th:href="@{${download}}" class="btn btn-secondary"><i class="fas fa-download"></i> Download</a>
        </div>
        <div class="card-body p-0 m-0">
            <div class="text-center m-5" id="spinner">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <iframe id="page-frame" class="page-frame d-none" th:src="@{${raw}}" height="1000em"
                    sandbox="allow-same-origin"></iframe>
        </div>
    </div>
</div>
</body>
</html>
