<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title}">Mordor</title>
</head>
<body>
<div layout:fragment="content">
    <ol class="breadcrumb">
        <li th:each="dir, itrStat : ${path}" th:class="${itrStat.last}? 'breadcrumb-item active' : 'breadcrumb-item'">
            <a th:unless="${itrStat.last}" th:href="${dir.path}" th:text="${dir.name}">directory</a>
            <span th:if="${itrStat.last}" th:text="${dir.name}">current directory</span>
        </li>
    </ol>
    <div class="card-header" sec:authorize="hasRole('ROLE_ACCESS_ADMIN_PANEL')">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-trash"></i>
            Delete
        </button>
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure you want to proceed?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, close this window</button>
                        <a href="#" th:href="@{${delete}}" class="btn btn-secondary">
                        <i class="fas fa-trash"></i>    Yes, <strong>delete     </strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:if="${children.empty}">
        <div>There are no files here.</div>
    </div>

    <ul th:unless="${children.empty}" class="list-group list-group-flush">
        <li th:each="entry : ${children}" class="list-group-item">
            <i th:attr="class='mx-2 fas fa-lg ' + ${entry.iconName}"></i>
            <a th:attr="href='/file/'+${entry.path}" th:text="${entry.name}"></a>
        </li>
    </ul>
</div>
</body>
</html>
