<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Mordor (homepage)</title>
</head>
<body>
    <div layout:fragment="content">
       <h1>tree <span th:text="${path}"></span></h1>

       <div class=actions>
         <a href=".." th:if="${path != ''}">
           <i class="fas fa-level-up-alt"></i>
           up
         </a>
       </div>

       <div th:if="${children.empty}">
         <div>There are no files here.</div>
       </div>

       <table class=fs-table>
         <tr th:each="entry : ${children}" class=clickable-row>
           <td class=icon>
             <i th:attr="class='fas fa-' + ${entry.iconName}"></i>
           </td>
           <td>
             <a th:attr="href='/file/'+${entry.path}" th:text="${entry.name}"></a>
           </td>
         </tr>
       </ul>
    </div>
</body>
</html>
