<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Mordor (homepage)</title>
</head>
<body>
<div layout:fragment="content">
    <!--<h1>tree <span th:text="${path}"></span></h1>-->

    <ol class="breadcrumb">
        <li th:each="dir, itrStat : ${path}" th:class="${itrStat.last}? 'breadcrumb-item active' : 'breadcrumb-item'">
            <a th:unless="${itrStat.last}" th:href="${dir.path}" th:text="${dir.name}">directory</a>
            <span th:if="${itrStat.last}" th:text="${dir.name}">current directory</span>
        </li>
        <!--<li class="breadcrumb-item active" aria-current="page">Data</li>-->
    </ol>

    <div th:if="${children.empty}">
        <div>There are no files here.</div>
    </div>

    <table class=fs-table>
        <tr th:each="entry : ${children}" class=clickable-row>
            <td class=icon>
                <i th:attr="class='fas fa-' + ${entry.iconName}"></i>
            </td>
            <td>
                <a th:attr="href='/file/'+${entry.path}" th:text="${entry.name}"></a>
            </td>
        </tr>
        </ul>
    </table>
</div>
</body>
</html>
