<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Upload a file</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Upload new file</h1>
    <form th:action="@{/upload/}" th:object="${form}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="files">Files</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input " th:field="*{files}" id="files" multiple="multiple">
                <label class="custom-file-label" for="files">Choose files</label>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('files')}" th:errors="*{files}">error</div>
        </div>
        <div class="form-group">
            <label th:for="mountPath">Files Destination</label>
            <input type="text" class="form-control" th:name="mountPath" />
            <div class="alert alert-danger" th:if="${#fields.hasErrors('mountPath')}" th:errors="*{mountPath}">error</div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
</body>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function(){
            $('#files').on('change', function(e) {
                let files = e.target.files;
                if (files.length > 1) {
                    let filenames = Array.from(files).map(file => file.name).reduce((acc, filename) => acc + "; " + filename) + ";";
                    $(e.target).siblings('.custom-file-label').html(filenames);
                } else {
                    let filename =  e.target.files[0].name;
                    $(e.target).siblings('.custom-file-label').html(filename);
                }
            })
        })
    </script>
</th:block>
</html>